.jame-text {
    position: absolute;
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    image-rendering: pixelated;

    cursor: pointer;
}

.jame-text.start {
    opacity: 1;
}

.jame-text.end {
    opacity: 0;
}

.jame-text-container:hover .jame-text.start {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
}

.jame-text-container:hover .jame-text.end {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
}

.jame-text.transition {
    transition: transform 4s ease-in-out, opacity 4s ease-in-out;
}