.img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
}

.textName
{
    font-family: GroteskBold;
    font-size: 30px;
    color: #999999;
    background: -webkit-linear-gradient(#F1CE65, #F1CE6585);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
.textSub
{
    font-family: GroteskRegular;
    font-size: 15px;
    color: #F1CE65;
    transition: all 0.25s;
}
.textSub:hover
{
    color: #6F9B98;
}