.project-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40vw;
    height: 25vw;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    border-radius: 2vw;
}