.return-text {
    position: absolute;
    left: 0px;
    top: 0px;

    margin: 0;
    padding: 0;

    color: rgb(255, 255, 255);
    font-size: 30px;

    cursor: pointer;

    filter: drop-shadow(2px 2px 2px #000000);
    transition: 0.05s color ease-in-out;
}

.return-text:hover {
    color: rgb(255, 244, 91);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar:hover {
    width: 6px;
    height: 6px;
}

/* track */
::-webkit-scrollbar-track {
    background: #141414;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 5px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #525252;
}

::-webkit-scrollbar-corner {
    background: #141414;
}