@font-face {
    font-family: BitCell;
    src: url(../fonts/bitcell.ttf);
}

@font-face {
    font-family: DrunkFonts;
    src: url(../fonts/drunk-fonts.otf);
}

@font-face {
    font-family: YesevaOne;
    src: url(../fonts/yeseva-one.ttf);
}