@font-face {
    font-family: BitCell;
    src: url(../fonts/BitCell.ttf);
}

@font-face {
    font-family: DrunkFonts;
    src: url(../fonts/DrunkFonts.otf);
}

@font-face {
    font-family: YesevaOne;
    src: url(../fonts/YesevaOne.ttf);
}

@font-face {
    font-family: HybridB;
    src: url(../fonts/Hybrid-b.ttf);
}

@font-face {
    font-family: HybridO;
    src: url(../fonts/Hybrid-o.ttf);
}

@font-face {
    font-family: Stasmic;
    src: url(../fonts/Stasmic.ttf);
}

@font-face {
    font-family: Arthead;
    src: url(../fonts/Arthead.otf);
}

@font-face {
    font-family: RobotoBold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/Roboto-Medium.ttf);
}