/* these effects are no longer used due to lag */
.wavy {
    position: absolute;
    transform: translateX(-50%) skew(20deg, 10deg);
    left: 50%;
    top: 10px;
}

.wavy span {
    position: relative;
    display: inline-block;
    color: rgb(238, 231, 231);
    font-size: 200px;
    font-family: YesevaOne;
    animation: animate 30s ease-in-out infinite;
    animation-delay: calc(0.5s * var(--i));
    text-shadow: 1px 1px 1px rgb(238, 231, 231),
        1px 2px 1px #ff5959,
        1px 3px 1px #ff5959,
        1px 4px 1px #ff5959,
        1px 5px 1px #ff8f34,
        1px 6px 1px #ff8f34,
        1px 7px 1px #ff8f34,
        1px 8px 1px #fff134,
        1px 9px 1px #fff134,
        1px 10px 1px #fff134,
        1px 11px 1px #c2ff34,
        1px 12px 1px #c2ff34,
        1px 13px 1px #c2ff34,
        1px 14px 1px #96ff34,
        1px 15px 1px #96ff34,
        1px 16px 1px #96ff34,
        1px 17px 1px #34ff71,
        1px 18px 1px #34ff71,
        1px 19px 1px #34ff71,
        1px 20px 1px #34f1ff,
        1px 21px 1px #34f1ff,
        1px 22px 1px #34f1ff;
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}