@font-face
{
    font-family: RobotoBlack;
    src: url(../../assets/fonts/robotoblack.ttf);
}

@font-face
{
    font-family: RobotoBold;
    src: url(../../assets/fonts/robotobold.ttf);
}

@font-face
{
    font-family: RobotoRegular;
    src: url(../../assets/fonts/robotoregular.ttf);
}

body
{
    text-align: center;
    background-color: black;
}

.bannerImg
{
    margin-top: 95px;
    width: 3%;
    height: auto;
}

.headText
{
    font-family: RobotoBlack;
    font-size: 22px;
    color: #FFFFFF;
}

.headtextDesc
{
    font-family: RobotoRegular;
    font-size: 17px;
    color: #999999;
}

.headLinkText
{
    font-family: RobotoBold;
    font-size: 22px;
    color: #FFFFFF;
}

.button 
{
    width: 500px;
    height: 25px;
    padding: 20px;
    background: #222222;
    border: 3px solid #0f0f0f;
    border-radius: 20px;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
}
.buttonImg
{
    width: 10%;
    margin-top: -0.75rem;
    float: left;
    filter: invert(50%) sepia(25%) saturate(500%) hue-rotate(200deg) contrast(100%) brightness(0%) drop-shadow(0 0 0.75rem #dc143c00);
}
.buttonText
{
    font-family: RobotoBold;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 0.2rem;
    margin-right: 3.2rem;
}

.copyrightText
{
    font-family: RobotoRegular;
    font-size: 12px;
    color: #696969;
    padding-top: 5px;
}

.button-discord:hover
{
    border: 3px solid #5865F2;
}
.button-discord:hover .buttonImg
{
    filter: invert(35%) sepia(32%) saturate(3117%) hue-rotate(218deg) contrast(92%) brightness(99%) drop-shadow(0 0 1rem #00000080);
    transition: all 1s ease-in-out;
    transition-delay: 0.1s;
}

.button-youtube:hover
{
    border: 3px solid #FF0000;
}
.button-youtube:hover .buttonImg
{
    filter: invert(12%) sepia(92%) saturate(6165%) hue-rotate(356deg) contrast(126%) brightness(90%) drop-shadow(0 0 1rem #00000080);
    transition: all 1s ease-in-out;
    transition-delay: 0.1s;
}

.button-github:hover
{
    border: 3px solid #F0F6FC;
}
.button-github:hover .buttonImg
{
    filter: invert(100%) sepia(60%) saturate(912%) hue-rotate(177deg) contrast(98%) brightness(102%) drop-shadow(0 0 1rem #00000080);
    transition: all 1s ease-in-out;
    transition-delay: 0.15s;
}

.button-twitter:hover
{
    border: 3px solid #1DA1F2;
}
.button-twitter:hover .buttonImg
{
    filter: invert(67%) sepia(59%) saturate(5530%) hue-rotate(176deg) contrast(91%) brightness(99%) drop-shadow(0 0 1rem #00000080);
    transition: all 1s ease-in-out;
    transition-delay: 0.15s;
}

.button-steam:hover
{
    border: 3px solid #1387B8;
}
.button-steam:hover .buttonImg
{
    filter: invert(31%) sepia(82%) saturate(3580%) hue-rotate(178deg) contrast(85%) brightness(99%) drop-shadow(0 0 1rem #00000080);
    transition: all 1s ease-in-out;
    transition-delay: 0.15s;
}

.button-spotify:hover
{
    border: 3px solid #1ED760;
}
.button-spotify:hover .buttonImg
{
    filter: invert(71%) sepia(20%) saturate(1549%) hue-rotate(87deg) contrast(104%) brightness(89%) drop-shadow(0 0 1rem #00000080);
    transition: all 1s ease-in-out;
    transition-delay: 0.1s;
}

.button-mediadownloader:hover
{
    border: 3px solid #8E8E8E;
}
.button-mediadownloader:hover .buttonImg
{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) contrast(100%) brightness(100%) drop-shadow(0 0 1rem #8E8E8E80);
    transition: all 1s ease-in-out;
    transition-delay: 0.1s;
}

.button-cubelauncher:hover
{
    border: 3px solid #69A44F;
}
.button-cubelauncher:hover .buttonImg
{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) contrast(100%) brightness(100%) drop-shadow(0 0 1rem #69A44F80);
    transition: all 1s ease-in-out;
    transition-delay: 0.1s;
}

.button-qbak:hover
{
    border: 3px solid #16C60C;
}
.button-qbak:hover .buttonImg
{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) contrast(100%) brightness(100%) drop-shadow(0 0 1rem #16C60C80);
    transition: all 1s ease-in-out;
    transition-delay: 0.1s;
}

.button-netutil:hover
{
    border: 3px solid #F9F1A5;
}
.button-netutil:hover .buttonImg
{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) contrast(100%) brightness(100%) drop-shadow(0 0 1rem #F9F1A580);
    transition: all 1s ease-in-out;
    transition-delay: 0.1s;
}