.cat__text {
    max-width: 40vw;

    position: absolute;
    left: 13vw;
    top: 15vw;

    margin-top: 0px;

    color: rgb(238, 231, 231);

    font-size: 3.2vw;
    font-family: BitCell;

    word-wrap: break-word;
}

.cat__text-background {
    position: absolute;
    left: 10vw;
    top: 13vw;

    border: 1vw ridge rgb(238, 231, 231);
    background-color: rgb(0, 0, 0);

    display: none;
}