.returnImg
{
    position: fixed;
    left: 8;
    width: 8px;
}
.returnImg:hover
{
    filter: brightness(125%);
}

.returnText
{
    font-family: RobotoRegular;
    font-size: 15px;
    position: fixed;
    margin-top: 0px;
    margin-left: 15px;
    color: #444444;
}
.returnText:hover
{
    color: #555555;
}

.bannerImg
{
    margin-top: 95px;
    width: 75px;
    height: auto;
    filter: drop-shadow(5px 5px 0.5px #010101);
}

.headText
{
    font-family: RobotoBlack;
    font-size: 22px;
    color: #FFFFFF;
}

.headtextDesc
{
    font-family: RobotoRegular;
    font-size: 17px;
    color: #888888;
}

.headLinkText
{
    font-family: RobotoBold;
    font-size: 22px;
    color: #FFFFFF;
}

.button 
{
    width: 400px;
    height: 25px;
    padding: 20px;
    background: #161616;
    border: 3px solid #0F0F0F;
    border-radius: 100px;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 8px 0px #202020,
                16px 32px 16px #00000032;
}

.buttonImg
{
    width: 13%;
    margin-top: -0.8rem;
    float: left;
    filter: invert(50%) sepia(25%) saturate(500%) hue-rotate(200deg) contrast(100%) brightness(0%) drop-shadow(0 0 0.75rem #00000000);
}

.buttonText
{
    font-family: RobotoBold;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 0.2rem;
    margin-right: 3.2rem;
}

.copyrightText
{
    font-family: RobotoRegular;
    font-size: 12px;
    color: #444444;
    padding-top: 100px;
    transform: translate(0px, 8px);
}

/* socials */

/* discord */
.button-discord:hover
{
    border: 3px solid #5865F2;
}
.button-discord:hover .buttonImg
{
    filter: invert(40%) sepia(55%) saturate(1173%) hue-rotate(207deg) contrast(105%) brightness(93%) drop-shadow(0px 0px 1rem #5865F280);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* youtube */
.button-youtube:hover
{
    border: 3px solid #FF0000;
}
.button-youtube:hover .buttonImg
{
    filter: invert(26%) sepia(51%) saturate(7133%) hue-rotate(351deg) contrast(134%) brightness(88%) drop-shadow(0px 0px 1rem #FF000080);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* github */
.button-github:hover
{
    border: 3px solid #F0F6FC;
}
.button-github:hover .buttonImg
{
    filter: invert(100%) sepia(79%) saturate(827%) hue-rotate(177deg) contrast(98%) brightness(103%) drop-shadow(0px 0px 1rem #F0F6FC80);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* twitter */
.button-twitter:hover
{
    border: 3px solid #1DA1F2;
}
.button-twitter:hover .buttonImg
{
    filter: invert(56%) sepia(38%) saturate(914%) hue-rotate(162deg) contrast(116%) brightness(89%) drop-shadow(0px 0px 1rem #1DA1F280);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* instagram */
.button-instagram:hover
{
    border: 3px solid #FD0B60;
}
.button-instagram:hover .buttonImg
{
    filter: invert(25%) sepia(98%) saturate(7107%) hue-rotate(332deg) contrast(98%) brightness(102%) drop-shadow(0px 0px 1rem #FD0B6080);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* spotify */
.button-spotify:hover
{
    border: 3px solid #1ED760;
}
.button-spotify:hover .buttonImg
{
    filter: invert(67%) sepia(26%) saturate(1360%) hue-rotate(88deg) contrast(88%) brightness(97%) drop-shadow(0px 0px 1rem #1ED76080);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* lastfm */
.button-lastfm:hover
{
    border: 3px solid #E31B23;
}
.button-lastfm:hover .buttonImg
{
    filter: invert(18%) sepia(34%) saturate(7113%) hue-rotate(345deg) contrast(103%) brightness(105%) drop-shadow(0px 0px 1rem #E31B2380);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* steam */
.button-steam:hover
{
    border: 3px solid #2070CC;
}
.button-steam:hover .buttonImg
{
    filter: invert(32%) sepia(86%) saturate(1110%) hue-rotate(189deg) contrast(92%) brightness(93%) drop-shadow(0px 0px 1rem #2070CC80);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* namemc */
.button-namemc:hover
{
    border: 3px solid #E6E8ED;
}
.button-namemc:hover .buttonImg
{
    filter: invert(100%) sepia(73%) saturate(700%) hue-rotate(179deg) contrast(86%) brightness(102%) drop-shadow(0px 0px 1rem #E6E8ED80);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* projects */

/* mediadownloader */
.button-mediadownloader:hover
{
    border: 3px solid #8E8E8E;
}
.button-mediadownloader:hover .buttonImg
{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) contrast(100%) brightness(100%) drop-shadow(0px 0px 1rem #8E8E8E80);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* discordrc */
.button-discordrc:hover
{
    border: 3px solid #5165F6;
}
.button-discordrc:hover .buttonImg
{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) contrast(100%) brightness(100%) drop-shadow(0px 0px 1rem #5165F680);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* cubelauncher */
.button-cubelauncher:hover
{
    border: 3px solid #69A44F;
}
.button-cubelauncher:hover .buttonImg
{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) contrast(100%) brightness(100%) drop-shadow(0px 0px 1rem #69A44F80);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* img2ascii */
.button-img2ascii:hover
{
    border: 3px solid #FFFFFF;
}
.button-img2ascii:hover .buttonImg
{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) contrast(100%) brightness(100%) drop-shadow(0px 0px 1rem #FFFFFF80);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* hex2filter */
.button-hex2filter:hover
{
    border: 3px solid #FFFFFF;
}
.button-hex2filter:hover .buttonImg
{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) contrast(100%) brightness(100%) drop-shadow(0px 0px 1rem #FFFFFF80);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* blenderbatch */
.button-blenderbatch:hover
{
    border: 3px solid #1589FF;
}
.button-blenderbatch:hover .buttonImg
{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) contrast(100%) brightness(100%) drop-shadow(0px 0px 1rem #1589FF80);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* netutil */
.button-netutil:hover
{
    border: 3px solid #F9F1A5;
}
.button-netutil:hover .buttonImg
{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) contrast(100%) brightness(100%) drop-shadow(0px 0px 1rem #F9F1A580);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* qbak */
.button-qbak:hover
{
    border: 3px solid #16C60C;
}
.button-qbak:hover .buttonImg
{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) contrast(100%) brightness(100%) drop-shadow(0px 0px 1rem #16C60C80);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}

/* infinitemonkeysimulator */
.button-infinitemonkeysimulator:hover
{
    border: 3px solid #DDD035;
}
.button-infinitemonkeysimulator:hover .buttonImg
{
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) contrast(100%) brightness(100%) drop-shadow(0px 0px 1rem #DDD03580);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.1s;
}