@font-face
{
    font-family: RobotoBlack;
    src: url(../../fonts/robotoblack.ttf);
}

@font-face
{
    font-family: RobotoBold;
    src: url(../../fonts/robotobold.ttf);
}

@font-face
{
    font-family: RobotoRegular;
    src: url(../../fonts/robotoregular.ttf);
}

::-webkit-scrollbar
{
    width: 0.75em;
}

::-webkit-scrollbar-thumb
{
    border-radius: 100px;
    background: #202020;
}

::-webkit-scrollbar-track
{
    background: #0F0F0F;
}

@keyframes backgroundPan
{
    0%
    {
        background-position: 10% 0%
    }
    50%
    {
        background-position: 90% 100%
    }
    100%
    {
        background-position: 10% 0%
    }
}

@keyframes moveUpDown
{
    0%, 100%
    {
        bottom: -10px;
    }
    50%
    {
        bottom: 0px;
    }
}

@keyframes rainbowAnimation
{
    0%, 100%
    {
        background-position: 0 0;
    }

    50%
    {
        background-position: 100% 0;
    }
}
  
body
{
    animation: backgroundPan 10s ease-in-out infinite;
    background: linear-gradient(
        to right,
        #010101,
        #121212,
        #010101
    );
    background-size: 150%;

    text-align: center;
    background-color: #010101;
}

/* objects */
.introText
{
    font-family: RobotoRegular;
    font-size: 60px;
    color: #888888;
}
.introText:hover
{
    color: #bbbbbb;
}
.titleText
{
    font-family: RobotoBlack;
    font-size: 80px;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    animation: rainbowAnimation 10s ease-in-out infinite;
    background-size: 400% 100%;
    color: #999999;
}
.titleText:hover
{
    font-family: RobotoBlack;
    font-size: 80px;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbowAnimation 10s ease-in-out infinite;
    background-size: 400% 100%;
}
.arrowImg
{
    animation: moveUpDown 2s ease-in-out infinite;
    width: 20px;
    position: fixed;
    transform: translate(152px);
}
.copyrightText
{
    font-family: RobotoRegular;
    font-size: 12px;
    color: #696969;
}

/* alignment */
.centerXY
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.centerBottom
{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* visual traits */
.enableAnimate
{
    transition: all 0.3s ease-in-out;
}
.enablePointer
{
    cursor: pointer;
}
.disablePointer
{
    cursor: default;
}
.disableSelect
{
    user-select: none;
}
.disableDecoration
{
    text-decoration: none;
}