/* portfolio_utils by o7q */

/* configure fonts */

/* ROBOTO */

/* roboto black */
@font-face
{
    font-family: RobotoBlack;
    src: url(fonts/roboto/robotoBlack.ttf);
}

/* roboto bold */
@font-face
{
    font-family: RobotoBold;
    src: url(fonts/roboto/robotoBold.ttf);
}

/* roboto regular */
@font-face
{
    font-family: RobotoRegular;
    src: url(fonts/roboto/robotoRegular.ttf);
}

/* GROTESK */

/* grotesk bold */
@font-face
{
    font-family: GroteskBold;
    src: url(fonts/grotesk/groteskBold.ttf);
}

/* grotesk regular */
@font-face
{
    font-family: GroteskRegular;
    src: url(fonts/grotesk/groteskRegular.ttf);
}

/* grotesk thin */
@font-face
{
    font-family: GroteskThin;
    src: url(fonts/grotesk/groteskThin.ttf);
}

/* grotesk light */
@font-face
{
    font-family: GroteskLight;
    src: url(fonts/grotesk/groteskRegular.ttf);
}

/* configure components */

/* scrollbar width */
::-webkit-scrollbar
{
    width: 0.5em;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb
{
    background: #2B2B2B;
}

/* scrollbar track */
::-webkit-scrollbar-track
{
    background: #1B1B1B;
}

/* body */
body
{
    margin: 50px;
    background-color: #1B1B1B;
}

*
{
    user-select: none;
}

/* functions */

/* disable select */
.disableSelect
{
    user-select: none;
}