.shelf-grid__image-container__cartridge-image--gray {
    filter: saturate(0) hue-rotate(0deg);
}

.shelf-grid__image-container__cartridge-image--green {
    filter: saturate(6) hue-rotate(-20deg) brightness(150%);
}

.shelf-grid__image-container__cartridge-image--blue {
    filter: saturate(6) hue-rotate(30deg) brightness(150%);
}

.shelf-grid__image-container__cartridge-image--purple {
    filter: saturate(6) hue-rotate(100deg);
}

.shelf-grid__image-container__cartridge-image--pink {
    filter: saturate(6) hue-rotate(130deg);
}

.shelf-grid__image-container__cartridge-image--red {
    filter: saturate(6) hue-rotate(130deg);
}

.shelf-grid__image-container__cartridge-image--orange {
    filter: saturate(6) hue-rotate(220deg);
}

.shelf-grid__image-container__cartridge-image--yellow {
    filter: saturate(6) hue-rotate(250deg) brightness(150%);
}

.shelf-grid__image-container__cartridge-image--white {
    filter: saturate(0) brightness(200%);
}