.credit-text {
    position: absolute;
    text-align: center;
    color: rgb(27, 255, 114);
    left: 50%;
    bottom: 0.2vw;
    margin: 0vw;
    transform: translate(-50%, -50%);

    font-size: 0.5vw;
    font-family: HybridB;

    opacity: 0.9;

    mix-blend-mode: exclusion;
}

.credit-text--copyright {
    font-size: 0.75vw;
    font-family: HybridO;
}