.james-text__text {
    width: 1000px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    cursor: pointer;

    image-rendering: pixelated;
}

.james-text__text--first {
    opacity: 1;
}

.james-text__text--second {
    opacity: 0;
}

.james-text:hover .james-text__text--first {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
}

.james-text:hover .james-text__text--second {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
}

.james-text__text--first--clicked {
    opacity: 1;
}

.james-text__text--second--clicked {
    opacity: 0;
}

.james-text:hover .james-text__text--first--clicked {
    opacity: 0;
}

.james-text:hover .james-text__text--second--clicked {
    opacity: 1;
}

.james-text__text--transition {
    transition: transform 4s ease-in-out, opacity 4s ease-in-out;
}

.james-text__text--transition--clicked {
    transition: transform 2s ease-in-out, opacity 1s ease-in-out, top 2s ease-in-out, width 2s ease-in-out;
}

.james-text__text--move {
    top: 18vw;
    width: 40%;

    cursor: default;
}