.menu-text {
    position: absolute;
    left: 50%;
    top: 24vw;
    transform: translate(-50%, -50%);
    
    display: flex;

    opacity: 0;
    transition: opacity 3s ease-in-out;

    filter: blur(0.5px);

    pointer-events: none;
}

.menu-text__text {
    color: rgb(255, 255, 255);
    margin: 0 2vw;
    filter: drop-shadow(0px 0px 5px #55ffaabe) drop-shadow(0px 0px 15px #55ffaabe);

    font-size: 1vw;
    font-family: Arthead;

    letter-spacing: 0.1vw;

    transition: filter 0.75s ease-in-out;
}

.menu-text__text:hover {
    filter: drop-shadow(0px 0px 5px #55ffaaff) drop-shadow(0px 0px 15px #55ffaaff);

    cursor: pointer;
}

.menu-text__text--blur {
    filter: drop-shadow(0px 0px 5px #55ffaabe) drop-shadow(0px 0px 15px #55ffaabe) blur(2px);
}